.stepper-container {
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1rem;
  width: 80%;
}

.step-button {
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.3);
  font-size: 0.9em;
  border-radius: 6px;
  right: 5px;
  background-size: cover;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  min-width: 3.5rem;
  height: 3.5rem;
  min-height: 3.5rem;
  border-radius: 50%;
  background: url("../../assets/icons/arrow_downward.svg") 50% no-repeat;
}

.step-content {
  margin-block: 1rem;
}

.previous-button {
  top: 10px;
  transform: rotateZ(180deg);
}

.next-button {
  bottom: 10px;
}
