<div class="app-container">
  <div class="page-content">
    <h2 class="heading-2">Mentions légales</h2>

    <div class="mentions-container">
      <div class="mention-item">
        <span>Rappel :</span>
        MesseBuilder a été créé pour soutenir les acteurs de la liturgie, afin
        de faciliter la création de PowerPoint pour l'organisation des messes
        dominicales. Notamment afin qu'ils puissent réduire le temps passé à
        créer des powerpoints, et l'investir d'avantage pour enrichir la messe
        dans ces autres services (mieux préparer des chants, ...) et rendre ce
        service plus paisible.
      </div>

      <div class="mention-item">
        <span> Avertissement :</span>
        Pour les utilisateurs du site : Les paroles des chants disponibles sur
        MesseBuilder sont la propriété exclusive de leurs auteurs. Leurs
        utilisations doivent se restreindre à servir de support de chants pour
        aider une assemblée à chanter.
      </div>

      <div class="mention-item">
        <span>A l'attention des détenteurs des droits :</span>
        Veuillez noter que MesseBuilder ne héberge pas les chants. Pour toute
        demande d'ajout, de modification ou de suppression, veuillez vous rendre
        sur le site
        <a href="https://messetoolkit.fr" target="_blank"
          >https://messetoolkit.fr</a
        >afin d'avoir d'obtenir plus d'informations
      </div>

      <div class="mention-item">
        <p>Merci de votre confiance</p>
      </div>
    </div>
  </div>
</div>
