<div class="app-container">
  <div class="page-content">
    <h2 class="heading-2">Mentions légales</h2>

    <div class="mentions-container">
      <div class="mention-item">
        <span>Rappel :</span>
        MesseToolkit a été créé pour soutenir les acteurs de la liturgie, afin
        de faciliter la création de PowerPoint pour l'organisation des messes
        dominicales. Notamment afin qu'ils puissent réduire le temps passé à
        créer des powerpoints, et l'investir d'avantage pour enrichir la messe
        dans ces autres services (mieux préparer des chants, ...) et rendre ce
        service plus paisible.
      </div>

      <div class="mention-item">
        <span> Avertissement :</span>
        Pour les utilisateurs du site : Les paroles des chants disponibles sur
        MesseToolkit sont la propriété exclusive de leurs auteurs. Leurs
        utilisations doivent se restreindre à servir de support de chants pour
        aider une assemblée à chanter.
      </div>

      <div class="mention-item">
        <span>A l'attention des détenteurs des droits :</span>
        Nous sommes à votre écoute pour répondre à vos questions et apporter
        d'éventuelles corrections aux données publiées sur MesseToolkit. De
        plus, n'hésitez pas à nous contacter pour participer aussi à
        l'enrichissement de ce site. La suppression immédiate des chants dont
        vous détenez les droits est également possible sur simple demande. Aucun
        extrait musical, ou partition n'est hébergé par MesseToolkit
      </div>

      <div class="mention-item">
        <p>Merci de votre confiance,</p>
        <p>En Christ,</p>
        <p>L'équipe de MesseToolkit</p>
      </div>
    </div>
  </div>
</div>
