.heading-1 {
  font-family: Poppins, Helvetica, sans-serif;
  font-size: 4em;
  font-weight: 400;
  white-space: pre;
}

.heading-2 {
  font-family: Poppins, Helvetica, sans-serif;
  font-size: 1.5em;
  font-weight: bold;
}

.heading-3 {
  font-family: Poppins, Helvetica, sans-serif;
  font-size: 1.3em;

}
