:host {
  section {
    height: 80vh;
    width: 900px;
    max-width: calc(100% - 6rem);
    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    .heading-3 {
      text-align: center;
    }

    mb-button {
      width: fit-content;
    }
  }

  .title-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    svg-icon {
      width: 120px;
      height: 120px;
    }

    span {
      font-weight: 700;
    }
  }

  @media (min-width: 768px) {
    .title-container {
      flex-direction: row;
    }
  }
}
