<section class="page-content">
  <div class="home-container">

    <div class="title-container">
      <svg-icon svgName="logo" />
      <h1 class="heading-1">
        Messe<span >builder</span>
      </h1>
    </div>

    <div class="heading-3">
      Un outil gratuit mis à disposition des acteurs de la liturgie <br />
      pour générer des word pour l’organisation de messe <br />
      à partir d’une large bibliothèque de chants
    </div>

    <mb-button
      backgroundColor="#FFF"
      color="#20D489"
      borderColor="#20D489"
      [routerLink]="['/config']"
    >
      Je génère mon word
    </mb-button>
  </div>
</section>
